<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular task 1 </title>
</head>
<body>
  <div class="container">
    <app-jumbotron></app-jumbotron>
    <div style="display:flex">
      <div>
        <app-card></app-card>
      </div>
      <div style="align-content: flex-end; padding-left: 20%;">
        <app-card></app-card>
      </div>
    </div>
  </div>
</body>
</html>